BillWork/Library/guidmapper
BillWork/Library/CurrentLayout.dwlt
BillWork/Library/AnnotationManager
BillWork/Library/metadata/00/00000000000000001000000000000000
BillWork/Library/InspectorExpandedItems.asset
BillWork/Library/metadata/00/00000000000000002000000000000000
BillWork/Library/ScriptAssemblies/CompilationCompleted.txt
BillWork/Library/ScriptMapper
BillWork/Library/ShaderCache.db
BillWork/Library/shadercompiler-1.log
BillWork/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BillWork/obj/Debug/Assembly-CSharp.pdb
BillWork/obj/Debug/Assembly-CSharp.dll
BillWork/Library/ShaderCache/b/be057c5b9ef9fec503b0b3878fd3f38c.bin
BillWork/Library/ShaderCache/b/b0c06cea4fc913218af49abba7a3dc32.bin
BillWork/Library/metadata/fe/feff4ef9f59eec844aa7e94a77e78e3c
BillWork/Library/metadata/fa/fa895d3d3fffb1147805f58a67a6f6a7
BillWork/Library/metadata/fa/fabe693c7ada6264c9ff90dd462e588a
BillWork/Library/metadata/00/00000000000000006100000000000000
BillWork/Library/metadata/00/00000000000000006000000000000000
BillWork/Library/assetDatabase3
BillWork/Library/AssetImportState
BillWork/Library/AssetServerCacheV3
BillWork/Library/expandedItems
BillWork/Library/FailedAssetImports.txt
BillWork/Library/metadata/00/0000000000000000a000000000000000
BillWork/Library/metadata/00/00000000000000009000000000000000
BillWork/Library/metadata/00/0000000000000000c000000000000000
BillWork/Library/metadata/01/01ae13f02fdce8245a811f806905ae3a
BillWork/obj/Debug/Assembly-CSharp-vs.csproj.FileListAbsolute.txt
BillWork/obj/Debug/Assembly-CSharp-vs.csprojResolveAssemblyReference.cache
BillWork/Library/ShaderCache/d/d01e03a013c50588e2c52aa116c17033.bin
BillWork/Library/ShaderCache/c/c59d3bb9d89f9c6259ee17221b42115e.bin
BillWork/Library/ShaderCache/a/a9b217a3eda1486c1972a2e0bae9b10e.bin
BillWork/Library/ShaderCache/a/a6042038ac4dfe2756924328f6cc116c.bin
BillWork/Library/ShaderCache/9/9bec4b5d5ba6bd4592080afac8e9147c.bin
BillWork/Library/ShaderCache/a/aa4b96dec5e87cf08f2071c4d70e957b.bin
BillWork/Library/ShaderCache/d/deb81c5deade54f6c8e91c005b7678ad.bin
BillWork/Library/ShaderCache/a/a55dafcb76a75c792871230d1c1793b4.bin
BillWork/Library/ShaderCache/0/01a5075a162925dfe0da73fa57d186c3.bin
BillWork/Library/ShaderCache/0/07760e6faf264699e036dd4bd0340b73.bin
BillWork/Library/ShaderCache/0/0812feb93a8b580d899f3f5f846cdfa1.bin
BillWork/Library/ShaderCache/2/22ab0eb80719f69af6a6947d4266ba7a.bin
BillWork/Library/ShaderCache/3/307bb7ae9b0c248b1ad870cf8c135928.bin
BillWork/Library/ShaderCache/3/31ad1404ef10d536ae3308af0a2524c7.bin
BillWork/Library/ShaderCache/3/371e938e32dbf8096877b9b19d62f8ba.bin
BillWork/Library/ShaderCache/a/ad5f45a98f82f992b03253330545c219.bin
BillWork/Library/ShaderCache/c/c7f3afe90fbdbd02851d2697f2cd3f4f.bin
BillWork/Library/ShaderCache/f/fe059afdfb13b3d91a2616fe84ef85fc.bin
BillWork/Library/ShaderCache/e/edba867153640c71e2ae564e23afa74a.bin
BillWork/Library/ShaderCache/e/e74c5b4c5e694cfcb8cf2809316ee3f8.bin
BillWork/Library/ShaderCache/0/0f76746f77328873851b55722b21f251.bin
BillWork/Library/ShaderCache/1/18322a3a759504a0b107494f1b769249.bin
BillWork/Library/ShaderCache/2/2d8468aa0a72980bd980a201c21a9785.bin
BillWork/Library/ShaderCache/3/3b602c90dea1171717226adb00e0f5b9.bin
BillWork/Library/metadata/00/00000000000000003000000000000000
BillWork/Library/metadata/00/00000000000000004000000000000000
BillWork/Library/metadata/00/00000000000000004100000000000000
BillWork/Library/metadata/00/00000000000000007000000000000000
BillWork/Library/metadata/00/00000000000000005100000000000000
BillWork/Library/metadata/00/00000000000000008000000000000000
BillWork/Library/metadata/00/00000000000000005000000000000000
BillWork/Library/metadata/00/0000000000000000b000000000000000
BillWork/Library/ShaderCache/3/309ae68b2352b90971e2538f721afb0a.bin
BillWork/Library/ShaderCache/5/5a5251fea3fee993215febb04f495094.bin
BillWork/Library/ShaderCache/7/7d4956bdf802fb8fe5a0a4c23a257919.bin
BillWork/Library/ShaderCache/6/666c45f5ea07b5b00318d84fe61e774d.bin
BillWork/Library/ShaderCache/5/581422aa9a63f595342dc87d72a403be.bin
BillWork/Library/ShaderCache/4/4a19f77ac7438218f945602535972fb9.bin
BillWork/Library/ShaderCache/5/564836b07159ff77944f14464f935845.bin
BillWork/Library/ShaderCache/6/6c8f956c0dffacf8250b45a7a5ccd3cf.bin
BillWork/Library/ShaderCache/6/6be149987a8d801f8b425f2f6ec43187.bin
BillWork/Library/ShaderCache/7/734f88b375350fee876a4b2cc64f4d68.bin
BillWork/Library/ShaderCache/7/767806fb9011bd6ff1d41c190407cc61.bin
BillWork/Library/ShaderCache/6/658e354200edc470397678a39a73506a.bin
BillWork/Library/ShaderCache/7/7fdc281c80b765cef5149f80342b4e18.bin
BillWork/Library/ShaderCache/5/555e4d0f84f8424ab6dc5eac745723aa.bin
BillWork/Library/ShaderCache/8/81a6a7611d7a27bdd18c4920c6a6a1a1.bin
BillWork/Library/ShaderCache/3/3fc7d2c083bd056cbee9d3dd6daf97c6.bin
BillWork/Library/metadata/06/0686a886f477bf34e8a941c1141e67fc
BillWork/Library/metadata/21/2123129cd0178634fbd333e308875a8b
BillWork/Library/metadata/21/214c738d31f359142a0c67d92116f12f
BillWork/Library/AssetVersioning.db
BillWork/Library/metadata/13/1360b2ce1ded92f41bcc57a98db51200
BillWork/Library/metadata/1f/1f00140c7ebbabd45a84e868dd4d7701
BillWork/Library/metadata/2a/2ab5892c08d338246b62ffb6a6b8fadb
BillWork/Library/metadata/4e/4e3c692ae3dc0884280a53d0dc8b302c
BillWork/Library/metadata/65/65cd693d9b42d1741be96f62d544b0bc
BillWork/Library/metadata/88/889be7b830332f6498367b45342cbf48
BillWork/Library/metadata/c1/c148150cb4bfbfe4d99a769bd7a6840c
BillWork/Library/metadata/b6/b6edd7097f002804f864b49c90ec255f
BillWork/Library/metadata/c9/c922f332e8ed043488ffb5a35251f29e
BillWork/Assets/Resources/Models/Eye.meta
BillWork/Assets/Resources/Models/Eye/.DS_Store
BillWork/Assets/Resources/Models/Eye/Colliders/Collider.fbx
BillWork/Assets/Resources/Models/Eye/Colliders/Collider.fbx.meta
BillWork/Assets/Resources/Models/Eye/Colliders.meta
BillWork/Assets/Resources/Models/Eye/Colliders/ColliderHemo.fbx
BillWork/Assets/Resources/Models/Eye/Colliders/ColliderHemo.fbx.meta
BillWork/Assets/Resources/Models/Eye/Colliders/ColliderPapiledema.fbx
BillWork/Assets/Resources/Models/Eye/Colliders/ColliderPapiledema.fbx.meta
BillWork/Assets/Resources/Models/Eye/Colliders/ColliderVeins.fbx
BillWork/Assets/Resources/Models/Eye/Colliders/ColliderVeins.fbx.meta
BillWork/Assets/Resources/Models/Eye/Eye.ma
BillWork/Assets/Resources/Models/Eye/Eye.ma.meta
BillWork/Assets/Resources/Models/Eye/Materials.meta
BillWork/Assets/Resources/Models/Eye/Materials/Arteries.mat
BillWork/Assets/Resources/Models/Eye/Materials/Arteries.mat.meta
BillWork/Assets/Resources/Models/Eye/Materials/Choroid.mat
BillWork/Assets/Resources/Models/Eye/Materials/Choroid.mat.meta
BillWork/Assets/Resources/Models/Eye/Materials/CilliaryMuscle.mat
BillWork/Assets/Resources/Models/Eye/Materials/CilliaryMuscle.mat.meta
BillWork/Assets/Resources/Models/Eye/Materials/Cornea.mat
BillWork/Assets/Resources/Models/Eye/Materials/Cornea.mat.meta
BillWork/Assets/Resources/Models/Eye/Materials/Hypertension.mat
BillWork/Assets/Resources/Models/Eye/Materials/Hypertension.mat.meta
BillWork/Assets/Resources/Models/Eye/Materials/Iris.mat
BillWork/Assets/Resources/Models/Eye/Materials/Iris.mat.meta
BillWork/Assets/Resources/Models/Eye/Materials/Lens.mat
BillWork/Assets/Resources/Models/Eye/Materials/Lens.mat.meta
BillWork/Assets/Resources/Models/Eye/Materials/Papiledema.mat
BillWork/Assets/Resources/Models/Eye/Materials/Papiledema.mat.meta
BillWork/Assets/Resources/Models/Eye/Materials/Retina.mat
BillWork/Assets/Resources/Models/Eye/Materials/Retina.mat.meta
BillWork/Assets/Resources/Models/Eye/Materials/Retina_Blood.mat
BillWork/Assets/Resources/Models/Eye/Materials/Retina_Blood.mat.meta
BillWork/Assets/Resources/Models/Eye/Materials/Sclera.mat
BillWork/Assets/Resources/Models/Eye/Materials/Sclera.mat.meta
BillWork/Assets/Resources/Models/Eye/Materials/Veins.mat
BillWork/Assets/Resources/Models/Eye/Materials/Veins.mat.meta
BillWork/Assets/Resources/Models/Eye/Materials/Vitreous.mat
BillWork/Assets/Resources/Models/Eye/Materials/Vitreous.mat.meta
BillWork/Assets/Resources/Models/Eye/Textures.meta
BillWork/Assets/Resources/Models/Eye/Textures/Bump.meta
BillWork/Assets/Resources/Models/Eye/Textures/Bump/Bump_Iris.jpg
BillWork/Assets/Resources/Models/Eye/Textures/Bump/Bump_Iris.jpg.meta
BillWork/Assets/Resources/Models/Eye/Textures/Bump/Bump_Papilledema.jpg
BillWork/Assets/Resources/Models/Eye/Textures/Bump/Bump_Papilledema.jpg.meta
BillWork/Assets/Resources/Models/Eye/Textures/Bump/Bump_Retina.jpg
BillWork/Assets/Resources/Models/Eye/Textures/Bump/Bump_Retina.jpg.meta
BillWork/Assets/Resources/Models/Eye/Textures/Bump/Bump_Retina_Blood.jpg
BillWork/Assets/Resources/Models/Eye/Textures/Bump/Bump_Retina_Blood.jpg.meta
BillWork/Assets/Resources/Models/Eye/Textures/Bump/Bump_Sclera.jpg
BillWork/Assets/Resources/Models/Eye/Textures/Bump/Bump_Sclera.jpg.meta
BillWork/Assets/Resources/Models/Eye/Textures/Tex_Arteries_Hypertension.jpg
BillWork/Assets/Resources/Models/Eye/Textures/Tex_Arteries_Hypertension.jpg.meta
BillWork/Assets/Resources/Models/Eye/Textures/Tex_Choroid.jpg
BillWork/Assets/Resources/Models/Eye/Textures/Tex_Choroid.jpg.meta
BillWork/Assets/Resources/Models/Eye/Textures/Tex_CilliaryMuscle.png
BillWork/Assets/Resources/Models/Eye/Textures/Tex_CilliaryMuscle.png.meta
BillWork/Assets/Resources/Models/Eye/Textures/Tex_Iris.jpg
BillWork/Assets/Resources/Models/Eye/Textures/Tex_Iris.jpg.meta
BillWork/Assets/Resources/Models/Eye/Textures/Tex_Papiledema.jpg
BillWork/Assets/Resources/Models/Eye/Textures/Tex_Papiledema.jpg.meta
BillWork/Assets/Resources/Models/Eye/Textures/Tex_Retina.jpg
BillWork/Assets/Resources/Models/Eye/Textures/Tex_Retina.jpg.meta
BillWork/Assets/Resources/Models/Eye/Textures/Tex_Retina_Blood.jpg
BillWork/Assets/Resources/Models/Eye/Textures/Tex_Retina_Blood.jpg.meta
BillWork/Assets/Resources/Models/Eye/Textures/Tex_Sclera.jpg
BillWork/Assets/Resources/Models/Eye/Textures/Tex_Sclera.jpg.meta
BillWork/Assets/Resources/Models/Eye/Textures/Unused_EyeTexture.jpg
BillWork/Assets/Resources/Models/Eye/Textures/Unused_EyeTexture.jpg.meta
BillWork/Assets/Resources/Models/Eye/Textures/Unused_MapTexture.png
BillWork/Assets/Resources/Models/Eye/Textures/Unused_MapTexture.png.meta
BillWork/Library/metadata/*
BillWork/Assets/Resources/Models/Eye/eyeFBX.fbx
BillWork/Assets/Resources/Models/Eye/eyeFBX.fbx.meta
BillWork/Assets/Resources/Models/Eye/Materials/TextureIris.mat
BillWork/Assets/Resources/Models/Eye/Materials/TextureIris.mat.meta
MultiTarget/Library/ScriptAssemblies/CompilationCompleted.txt
MultiTarget/Library/ShaderCache/0/014ec850073f370959d46cbbe6c83777.bin
MultiTarget/Library/ShaderCache/0/027b884dc6b3784fc9a91cdc66633680.bin
MultiTarget/Library/ShaderCache/1/11872a39d5b39378a062c23eaa622763.bin
MultiTarget/Library/ShaderCache/1/12678f89617485dc7176510dc9084bda.bin
MultiTarget/Library/ShaderCache/1/14884ed9cca7152c4f0f26348a2d0cb1.bin
MultiTarget/Library/ShaderCache/1/15d68ed352dc4423ef3dcefe6d2ec79f.bin
MultiTarget/Library/ShaderCache/1/168abfedd1d9b5c3d911b8d28cf0456a.bin
MultiTarget/Library/ShaderCache/1/1b73b5d42a0880506f663e43eea7f0ee.bin
MultiTarget/Library/ShaderCache/1/1e5954fc1d346fa251324a113d9e3560.bin
MultiTarget/Library/ShaderCache/2/28ef5272ecd988927b82984e6af33c79.bin
MultiTarget/Library/ShaderCache/3/3a422e5f095bc4006963969eb5f2c759.bin
MultiTarget/Library/ShaderCache/4/44eebad33b1e6cbb58a9aaee826078e1.bin
MultiTarget/Library/ShaderCache/4/4b18c01a522f010f6b07449691553904.bin
MultiTarget/Library/ShaderCache/7/7c777f261c3204772cd49d31f7d86ff4.bin
MultiTarget/Library/ShaderCache/9/927ee5a2b113d13ff3d78c95bf78b973.bin
MultiTarget/Library/ShaderCache/9/95830d19c8b7804c7f3efe6d11148bab.bin
MultiTarget/Library/ShaderCache/9/9c98d7a5e064af26872874d4046f9b47.bin
MultiTarget/Library/ShaderCache/a/a1163b1b42b5882d4476d8e8bd7117f3.bin
MultiTarget/Library/ShaderCache/a/ac46e2e693c4e085f0899e943f32bcb8.bin
MultiTarget/Library/ShaderCache/b/b747a4c9aaf7901c61482c8052d76704.bin
MultiTarget/Library/ShaderCache/b/bb2d5db6644a9854e80aa20614ed9e1e.bin
MultiTarget/Library/ShaderCache/b/bb4b62e9963f8efbaf936d4ab5c70bd4.bin
MultiTarget/Library/ShaderCache/b/bdb9dc59501594a1973598b5e1f8460a.bin
MultiTarget/Library/ShaderCache/d/d7542d8aeea6857ed0855a3a41336992.bin
MultiTarget/Library/ShaderCache/d/db7133e010984f80c26ff8a444cfa365.bin
MultiTarget/Library/ShaderCache/e/ec35f042a20c320c12b257ab738d093b.bin
MultiTarget/Library/metadata/8f/8f6e410da5b114b48843c371dd4cb72f
MultiTarget/Library/metadata/cb/cb128161e38664bfab65434f8b286a62
MultiTarget/Library/metadata/d7/
